/* src/Contact/contact.css */
.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #070f2b;
  color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  z-index: 2000;
}

.modal-box h2 {
  color: #fff;
}

.modal-box .MuiTextField-root,
.modal-box .MuiButton-root {
  background-color: #fff;
}
