#Social-Icons {
  width: 70%;
  display: flex;
  justify-content: space-around; /* Space the icons evenly */
  align-items: center; /* Center the icons vertically */
  margin-bottom: 2rem; /* Adjust as needed */
}

#Social-Icons a {
  transition: transform 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; /* Add horizontal spacing between icons */
}

#Social-Icons a:hover {
  transform: scale(1.6); /* Grow the icon on hover */
}

/* Specific hover colors for each icon */
#Social-Icons a[href*='facebook.com']:hover {
  color: #9893da; /* Facebook blue */
}

#Social-Icons a[href*='instagram.com']:hover {
  color: #9893da; /* Instagram gradient color */
}

#Social-Icons a[href*='linkedin.com']:hover {
  color: #9893da; /* LinkedIn blue */
}

#Social-Icons a[href*='github.com']:hover {
  color: #9893da; /* GitHub black */
}
