#Details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  z-index: 100;
  width: 99%;
  height: 100%;
  /* From https://css.glass */
  background: rgba(1, 9, 20, 0.1);
  box-shadow: 0 4px 30px rgba(187, 189, 246, 1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
}
