#Social-Icons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: 2em;
}

#Social-Icons a {
  text-decoration: none; /* Remove underline from anchor tags */
  transition: transform 0.2s, font-size 0.2s; /* Transition for smooth animation */
}

#Social-Icons a:hover {
  transform: scale(1.5); /* Scale up the icon on hover */
}

#Social-Icons a:hover svg {
  font-size: 2rem; /* Increase the font size of the icon on hover */
  transition: font-size 0.2s; /* Transition for smooth font size change */
}
