#Social-Icons {
  width: 80%;
  display: flex;
  justify-content: space-around; /* Space the icons evenly */
  align-items: center; /* Center the icons vertically */
  margin-bottom: 1rem; /* Adjust as needed */
}

#Social-Icons a {
  color: white; /* Default color for the icons */
  transition: transform 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px; /* Add horizontal spacing between icons */
}

#Social-Icons a:hover {
  transform: scale(2); /* Grow the icon on hover */
}

/* Specific hover colors for each icon */
#Social-Icons a[href*='facebook.com']:hover {
  color: #1877f2; /* Facebook blue */
}

#Social-Icons a[href*='instagram.com']:hover {
  color: #fa7e1e; /* Instagram gradient color */
}

#Social-Icons a[href*='linkedin.com']:hover {
  color: #0a66c2; /* LinkedIn blue */
}

#Social-Icons a[href*='github.com']:hover {
  color: #333; /* GitHub black */
}
