/* Define variables for light and dark themes */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #070f2b;
  --secondary-color: #152238;
  --accent-color: #ff9900;
  --border-color: #cccccc;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

/* Dark theme variables */
[data-theme='dark'] {
  --background-color: #070f2b;
  --text-color: #ffffff;
  --primary-color: #152238;
  --secondary-color: #070f2b;
  --accent-color: #ff9900;
  --border-color: #ffffff;
}
